<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <title>Mission</title>
    </head>

    <!-- Purple 7D00DE
         Darker Purple 58009B -->
    <body style="padding :40px;">
        <div class="navbar-fixed-top" style="background-color : #58009B; border-color: #000">
            <div id="navigation" class="navbar" 
                style="background-color: #7A00D7; border-color: #7A00D7;margin-bottom: 5px">
                <div class="container-fluid">
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-sm-12">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#" style="color:#FFFFFF;" >GMGM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        	<div class="row" style="margin-top:40px">
                <div class="col-sm-3">
                <div style="min-height:100%; height: 100%">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Players List
                        </div>
                        <div class="panel-body">
                            <div class="list-group" style="overflow-y:auto">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <span class="list-group-item-heading"><strong>Player 1</strong></span>
                                    <p class="list-group-item-text">Actual Name</p>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <span class="list-group-item-heading"><strong>Player 2</strong></span>
                                    <p class="list-group-item-text">Actual Name</p>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <span class="list-group-item-heading"><strong>Player 3</strong></span>
                                    <p class="list-group-item-text">Actual Name</p>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <span class="list-group-item-heading"><strong>Player 4</strong></span>
                                    <p class="list-group-item-text">Actual Name</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Story Flowchart
                        </div>
                        <div class="panel-body">
                            Panel Content
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Scenes
                        </div>
                        <div class="panel-body">
                            Panel Content
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <script type="text/javascript">
        
        $(document).ready(

            



        )
    </script>
</html>